<footer id="footer">
    <div class="section">
      <div class="container">
          <div class="columns is-centered">
              <div class="column">
                <a href="{{ "/resources" | absLangURL  }}">
                  <div class="title is-5 has-text-white has-text-weight-bold">{{ i18n "resources" }}</div>
                </a>
                {{ range where .Site.RegularPages "Section" "resources" }}
                <div>
                    <a href="{{ .Permalink }}">
                      {{ .Title }}
                    </a>
                </div>
                {{ end }}
              </div>

              <div class="column">
                <a href="{{ "/policies" | absLangURL  }}">
                  <div class="title is-5 has-text-white has-text-weight-bold">{{ i18n "company" }}</div>
                </a>
                <div>
                    <a href="{{ "/blog" | relLangURL  }}">
                      {{ i18n "blog" }}
                    </a>
                </div>
                <div>
                    <a href="{{ "/policies/terms" | relLangURL  }}">
                      {{ i18n "terms" }}
                    </a>
                </div>
                <div>
                    <a href="{{ "/policies/sla" | relLangURL  }}">
                      {{ i18n "sla" }}
                    </a>
                </div>
                <div>
                    <a href="{{ "/policies/sla" | relLangURL  }}">
                      {{ i18n "infra" }}
                    </a>
                </div>
                <div>
                    <a href="{{ "/policies/privacy" | relLangURL  }}">
                      {{ i18n "privacy" }}
                    </a>
                </div>
              </div>
              <div class="column">
                <a href="{{ .LanguagePrefix }}">
                  <div class="title is-5 has-text-white has-text-weight-bold">{{ i18n "product" }}</div>
                </a>

                <div>
                    <a href="{{ .LanguagePrefix }}/#functionality-section">
                      {{ i18n "features" }}
                    </a>
                </div>
                <div>
                    <a href="{{ .LanguagePrefix }}/#prices-section">
                      {{ i18n "prices" }}
                    </a>
                </div>
                <div>
                    <a href="{{ .LanguagePrefix }}/#clients-section">
                      {{ i18n "clients" }}
                    </a>
                </div>
              </div>
              <div class="column">
                  <div class="title is-5 has-text-white has-text-weight-bold">Contact</div>
                  <div><a class="tag is-medium is-info" href="https://twitter.com/{{ .Site.Params.AppTwitter }}">@{{ .Site.Params.AppTwitter }}</a></div>
                  <div><a class="tag is-medium is-info" href="https://twitter.com/{{ .Site.Params.AppTwitter }}">{{ .Site.Params.AppEmail }}</a></div>
                  
                  <div>
                      <div class="has-text-white has-text-weight-bold">{{i18n "leaveYourEmail" }}</div>
                      <form class="js-cm-form subscribe-form" action="https://www.createsend.com/t/subscribeerror?description="
                          method="post"
                          data-id="30FEA77E7D0A9B8D7616376B90063231470198E4657BF11B02DEEB97E1D110B35D4DE4D33276D8F69325AB1ED514121B5957AF11A00DF5E9C3D9BB50EA7F0979">
                          <div class="input-holder">
                            <input id="fieldEmail" name="cm-zjridu-zjridu" type="email" class="js-cm-email-input input" required
                              placeholder="me@me.com">
                          </div>
                          <div class="submit-holder">
                            <button class="button is-fullwidth is-info js-cm-submit-button"
                              type="submit">{{ i18n "newsletterSignUp" }}</button>
                          </div>
                          <script type="text/javascript"
                            src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
                        </form>
                  </div>
              </div>
            </div>
            
      </div>
    </div>
  <div class="section">
    <div class="container">
        <div class="credits">© Huckleberry 2018 🤖 🚀 - SIRET 79817197100012 - TVA FR18798171971 - made in Europe 🇪🇺 / 🇫🇷</div>
    </div>
  </div>
  
</footer>