<nav id="js-navigation" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ "/" | absLangURL }}">
        <div class="logo">{{ .Site.Title }}</div>
      </a>
      {{ range .Translations }}
          <a class="navbar-item" href="{{ .Permalink }}">{{ .Lang }}</a>
      {{ end}}
      <a role="button" 
          :class="{'is-active':isMenuOpen}"
          class="navbar-menu-toggle" 
          @click="toggleMenu()"
          aria-label="menu" 
          aria-expanded="false" 
      >
        <template v-if="isMenuOpen">{{ i18n "close" }}</template>
        <template v-else>Menu</template>
      </a>
    </div>

    <div  @click="closeMenu()" 
          class="navbar-menu" 
          :class="{'is-active':isMenuOpen}"
    >
      <div class="navbar-start">
        <a 
          href="{{ "/#functionality-section" | absLangURL }}"
          class="navbar-item" 
        >
        {{ i18n "features" }}
        </a>
        <a 
          href="/#prices-section"
          class="navbar-item" 
        >
        {{ i18n "prices" }}
        </a>
        <a 
          href="/resources"
          class="navbar-item" 
        >
        {{ i18n "resources" }}
        </a>
        <a 
          href="/blog"
          class="navbar-item" 
        >
        {{ i18n "blog" }}
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <img :src="'/icons/en.png'" alt="">
          </a>

          <div class="navbar-dropdown is-boxed">
            {{ range $.Site.Home.AllTranslations }}
                <a class="navbar-item"  href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ end }}
          </div>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a href="/" class="button is-info" :class="{'is-medium is-fullwidth':isMenuOpen}">
                {{ i18n "signup" }}
            </a>
            <a href="/" class="button is-outlined" :class="{'is-medium is-fullwidth':isMenuOpen}">
                {{ i18n "login" }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>