{{ define "main" }}
<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<!-- This component requires Tailwind CSS >= 1.5.1 and @tailwindcss/ui >= 0.4.0 -->
<div class="overflow-hidden bg-white">
  <div class="container py-16">
    <div class="mx-auto text-base max-w-prose lg:max-w-none">
      <p class="text-base font-semibold leading-6 tracking-wide text-indigo-600 uppercase">{{.Params.tag}}</p>
      <h1 class="mt-2 mb-8 text-3xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-4xl sm:leading-10">{{.Title}}</h1>
    </div>
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div class="relative mb-8 lg:mb-0 lg:row-start-1 lg:col-start-1 lg:col-span-1">
        <div class="relative mx-auto text-base max-w-prose lg:max-w-none">
          <figure>
            <div class="relative pb-7/12 lg:pb-0">
              {{ if .Params.Illustration }}
              <img src="{{.Params.Illustration}}" alt="" width="500" height="1376" class="absolute inset-0 object-cover object-center w-full h-full rounded-lg shadow-lg lg:static lg:h-auto">
              {{ else }}
                {{- $resource := resources.Get "images/illustration.png" -}}
                {{ $image := $resource.Resize "400x jpg" }}
                {{ partial "img.html" (dict "context" . "src" $image.RelPermalink "alt" "Harmonie mutuelle" "class" "absolute inset-0 object-cover object-center w-full h-full rounded-lg shadow-lg lg:static lg:h-auto") }}
              {{ end }}
            </div>
            {{ if .Params.guestName }}
            <figcaption class="flex-row mt-3 text-lg text-gray-500">
              <div>{{.Params.guestName}}</div><a class="font-bold text-blue-600 underline" href="{{.Params.guestLinkedin}}">Linkedin</a>
            </figcaption>
            {{ end }}
          </figure>


        </div>
      </div>
      <div class="mx-auto  max-w-prose prose prose-xl text-gray-800 lg:row-start-1 lg:col-start-2 lg:col-span-3">
        {{.Content}}
      </div>
    </div>
  </div>
</div>


{{ end }}