{{ define "main" }}
<div class="relative py-10">
  <div class="container relative max-w-7xl mx-auto">
    <h1 class="text-2xl leading-9 tracking-tight font-extrabold text-brand-900 sm:text-4xl sm:leading-10">
      Blog
    </h1>
    <div class="mt-12">
      {{ range .Pages }}
      
      <div class="flex items-center my-2 lg:my-10 bg-gray-100 rounded px-6">

        <div class="flex-1 flex flex-col justify-between my-1 ">
          <div class="flex-1 flex-col my-5">
            <a class="mt-2 block text-3xl leading-7 font-bold text-blue-900 visited:text-purple-700 hover:underline"
            href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>

            <p class="mt-1 text-xl text-gray-600">
              {{ .Summary | safeHTML | truncate 100 }}
            </p>
            {{ partial "tag.html" . }}
            <div class="flex items-center  text-sm text-gray-500">
              <p class="text-sm font-medium">
                {{.Params.Author}}
              </p>
              <span class="mx-1">
                &middot;
              </span>
              <div class="flex">
                {{ .Date.Format "2 January" }}
                <span class="mx-1">
                  &middot;
                </span>
                <span>
                  {{.ReadingTime}} min read
                </span>
              </div>
            </div>
          </div>

        </div>
        {{ if .Params.Illustration }}
        <div class="hidden lg:flex">
          {{ $image := .Resources.GetMatch (.Params.Illustration) }}
          {{ with $image }}
                  {{ $image := $image.Resize "200x" }}
                  <img class="object-contain h-48 w-48" src="{{ $image.RelPermalink }}">
          {{ end }}
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</div>


{{ end }}