{{ define "main" }}
<div class="relative py-10">
  <div class="container relative mx-auto max-w-7xl">
    <h1 class="text-2xl font-extrabold leading-9 tracking-tight text-brand-900 sm:text-4xl sm:leading-10">
      Blog
    </h1>
    <div class="mt-12">
      {{ range .Pages }}
      
      <div class="flex items-center pl-6 my-2 bg-gray-100 rounded lg:my-10">

        <div class="flex flex-col justify-between flex-1 my-1 ">
          <div class="flex-col flex-1 my-5">
            <a class="block mt-2 text-3xl font-bold leading-7 text-blue-900 visited:text-purple-700 hover:underline"
            href="{{ .RelPermalink }}">
              <h2>{{ .Title }}</h2>
            </a>

            <p class="mt-1 text-xl text-gray-600">
              {{ .Summary | safeHTML | truncate 100 }}
            </p>
            {{ partial "tag.html" . }}
            <div class="flex items-center text-sm text-gray-700">
              <p class="text-sm font-medium">
                {{.Params.Author}}
              </p>
              <span class="mx-1">
                &middot;
              </span>
              <div class="flex">
                {{ .Date.Format "2 January" }}
                <span class="mx-1">
                  &middot;
                </span>
                <span>
                  {{.ReadingTime}} min read
                </span>
              </div>
            </div>
          </div>

        </div>
        {{ if .Params.Illustration }}
        <div class="hidden lg:flex">
          {{ $image := .Resources.GetMatch (.Params.Illustration) }}
          {{ with $image }}
                  {{ $image := $image.Resize "200x" }}
                  {{ partial "img.html" (dict "context" . "src" $image.RelPermalink "alt" "illustration" "class" "object-contain h-48 w-48 rounded-r-lg") }}         
          {{ end }}
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</div>


{{ end }}