<!doctype html>
<html class="has-navbar-fixed-top" lang="{{ $.Site.Language.Lang }}">

<head>
    <title>{{.Title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="referrer" content="no-referrer-when-downgrade" />
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .IsTranslated }}
    {{ range .Translations }}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
    {{ end}}
    {{ end }}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />

    <!-- Primary Meta Tags -->
    {{ if .Site.Params.DescriptionShort }}
    <meta name="title" content="{{ .Site.Params.DescriptionShort }}">
    {{ end }}
    <meta name="description" content="{{ .Site.Params.Description }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.pilot.pm/">
    <meta property="og:title" content="The content production platform for marketing teams. ">
    <meta property="og:description" content="{{ .Site.Params.Description }}">
    <meta property="og:image" content="{{ .Site.Params.Image | absURL }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.pilot.pm/">
    <meta property="twitter:title" content="{{ .Site.Params.Description }}">
    <meta property="twitter:description" content="{{ .Site.Params.Description }}">
    <meta property="twitter:image" content="{{ .Site.Params.Image | absURL }}">

    <!-- Dublin Core basic info -->
    <meta name="dcterms.Identifier" content="{{ .Site.BaseURL }}" />
    <meta name="dcterms.Format" content="text/html" />
    <meta name="dcterms.Relation" content="{{ .Site.Title }}" />
    <meta name="dcterms.Language" content="{{ .Site.LanguageCode }}" />
    <meta name="dcterms.Publisher" content="{{ .Site.Title }}" />
    <meta name="dcterms.Type" content="text/html" />
    <meta name="dcterms.Coverage" content="{{ .Site.BaseURL }}" />
    <meta name="dcterms.Rights" content="{{ .Site.Params.Copyright }} {{ .Site.Title }}." />
    <meta name="dcterms.Title" content="{{ .Site.Title }}" />
    <meta name="dcterms.Subject" content="{{ .Site.Params.Description }}" />
    <meta name="dcterms.Contributor" content="{{ .Site.Title }}" />


    <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebApplication",
    "name": "Pilot",
    "browserRequirements": "IE 11+, Chrome, Firefox. Requires HTML 5 support",
    "applicationCategory": "https://schema.org/WebApplication",
    "operatingSystem": "Windows, OSX, Android",
    "offers": {
        "@type": "AggregateOffer",
        "highPrice": "39",
        "lowPrice": "9",
        "priceCurrency": "EUR"
      }
  }
  </script>


    {{ if .Site.IsServer }}

    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/dev/postcss.config.js") | fingerprint }}

    <link rel="stylesheet" href="{{ $style.RelPermalink }}" data>

    {{ else }}

    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js")  | minify | fingerprint }}

    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

    {{ end }}
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>
</head>

<body x-data="{ menuopen: false }">

    <div class="backdrop absolute h-full w-full bg-gray-50 opacity-75 " x-show="menuopen"></div>

    <div id="page" class="min-h-screen flex flex-col">
        <div id="header" class="container mx-auto px-4 sm:px-6">
            {{ block "header" . }}{{ partial "header" . }}{{end}}
        </div>
        <div id="content" class="flex-grow caontainer">
            {{ block "main" . }}{{end}}
        </div>
        <div id="footer" class="bg-gray-900">
            {{ block "footer" . }}{{ partial "footer" . }}{{end}}
        </div>
    </div>

    {{ if not .Site.IsServer }}
    <!-- OR WITH ENV VAR if eq (getenv "HUGO_ENV") "production"  -->
    <!--ONLY PRODUCTION-->
    {{ partial "analytics.html" . }}
    {{ end }}

</body>

</html>