<!DOCTYPE html>
<html class="text-gray-900 antialiased bg-white" lang="{{ $.Site.Language.Lang }}">
    <head>
        {{ if .IsHome -}}
            <title>{{ .Site.Title }}</title>
            {{- else -}}
            <title>{{ .Title }} – {{ .Site.Title }}</title>
        {{- end }}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {{ if .Params.author -}}
            <meta name="author" content="{{ .Params.author }}" />
        {{- end }}
        {{ if .Params.date -}}
            <meta name="date" content="{{ .Date.Format `Jan 2, 2006` }}" />
        {{- end }}
        {{ if eq .Section "policies" -}}
            <meta name="robots" content="noindex" />
        {{- end }}
        <meta name="referrer" content="no-referrer-when-downgrade" />
        <link rel="canonical" href="{{ .Permalink }}" />
        {{- if .IsTranslated }}
            {{- range .Translations }}
                <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
            {{- end }}
        {{- end }}
        <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
        <!-- Primary Meta Tags -->
        <meta name="title" content="{{ .Title }}" />
        <!-- Description tags -->
        <meta
            name="description"
            content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}"
        />
        <meta
            itemprop="description"
            content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}"
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:title" content="{{ .Title }}" />
        <meta
            property="og:description"
            content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}"
        />
        <meta
            property="og:image"
            content="{{ if .Params.illustration }}{{ .Permalink }}{{ .Params.illustration }}{{ else }}{{ .Site.Params.Image | absURL }}{{ end }}"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="{{ .Permalink }}" />
        <meta property="twitter:title" content="{{ .Title }}" />
        <meta
            property="twitter:description"
            content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}"
        />
        <meta
            property="twitter:image"
            content="{{ if .Params.illustration }}{{ .Permalink }}{{ .Params.illustration }}{{ else }}{{ .Site.Params.Image | absURL }}{{ end }}"
        />

        {{ if .Site.IsServer }}
            {{- $style := resources.Get "css/styles.css" | postCSS (dict "config" "./postcss.config.js") | fingerprint }}
            <link rel="stylesheet" href="{{ $style.RelPermalink }}" data />
            {{ else }}
            {{- $style := resources.Get "css/styles.css" | postCSS (dict "config" "./postcss.config.js")  | minify | fingerprint -}}

            <link
                rel="stylesheet"
                href="{{ $style.RelPermalink }}"
                integrity="{{ $style.Data.Integrity }}"
            />
        {{ end -}}
        {{- $alpine := resources.Get "js/alpine.js" | minify | fingerprint }}
        <script
            src="{{ $alpine.RelPermalink }}"
            defer
        ></script>

        {{ if not .Site.IsServer }}
            <!-- OR WITH ENV VAR if eq (getenv "HUGO_ENV") "production"  -->
            <!--ONLY PRODUCTION-->
            {{ partial "analytics.html" . }}
        {{ end }}
    </head>

    <body x-data="{ mobileMenuOpen: false, iealert: true, modalOpen: false }">
        {{ partial "iealert.html" }}

        <div class="flex flex-col justify-between h-screen w-full">
            <header
                id="mainnav"
                class="transform fixed w-full border-b border-gray-200 bg-white z-40 px-5 transition-all ease-in duration-300 "
            >
                {{ partial "header" . }}
            </header>
            <main id="body" class="flex-1 w-full px-0 lg:px-5  my-20">
                {{ block "main" . }}{{ end }}
            </main>
            {{ if ne .Type "documentation" }}
                <footer>
                    {{ partial "footer.html" . }}
                </footer>
            {{ end }}
        </div>
        {{ block "script" . }}{{ end }}
        <!-- https://codingreflections.com/hide-header-on-scroll-down/ -->
        <!-- <script>
            ;(function () {
                var debounce = function (func, wait, immediate) {
                    var timeout
                    return function () {
                        var context = this,
                            args = arguments
                        var later = function () {
                            timeout = null
                            if (!immediate) func.apply(context, args)
                        }
                        var callNow = immediate && !timeout
                        clearTimeout(timeout)
                        timeout = setTimeout(later, wait)
                        if (callNow) func.apply(context, args)
                    }
                }
                var doc = document.documentElement
                var w = window

                var prevScroll = w.scrollY || doc.scrollTop
                var curScroll
                var direction = 0
                var prevDirection = 0
                var buffer = 0

                var header = document.getElementById("mainnav")
                // var main = document.getElementById("body")
                // var aside = document.getElementById("documentation_aside")
                // var toc = document.getElementById("documentation_toc")

                var checkScroll = debounce(function () {
                    /*
                     ** Find the direction of scroll
                     ** 0 - initial, 1 - up, 2 - down
                     */

                    curScroll = w.scrollY || doc.scrollTop
                    if (curScroll > prevScroll) {
                        //scrolled up
                        direction = 2
                    } else if (curScroll < prevScroll) {
                        //scrolled down
                        direction = 1
                    }

                    if (direction !== prevDirection) {
                        toggleHeader(direction, curScroll)
                    }

                    prevScroll = curScroll
                }, 150)

                var toggleHeader = function (direction, curScroll) {
                    if (direction === 2 && curScroll > 100) {
                        //scrolling up
                        //replace 52 with the height of your header in px

                        header.classList.add("-translate-y-full")

                        prevDirection = direction
                    } else if (direction === 1) {
                        //scrolling down
                        header.classList.remove("-translate-y-full")

                        prevDirection = direction
                    }
                }

                window.addEventListener("scroll", checkScroll)
            })()
        </script> -->
    </body>
</html>
