<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="{{ $.Site.Language.Lang }}">
    <head>
        {{ if .IsHome -}}
            <title>{{ .Site.Title }}</title>
            {{- else -}}
            <title>{{ .Title }} – {{ .Site.Title }}</title>
        {{- end }}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {{ if .Params.author -}}
            <meta name="author" content="{{ .Params.author }}" />
        {{- end }}
        {{ if .Params.date -}}
            <meta name="date" content="{{ .Date.Format `Jan 2, 2006` }}" />
        {{- end }}
        {{ if eq .Section "policies" -}}
            <meta name="robots" content="noindex" />
        {{- end }}
        <meta name="referrer" content="no-referrer-when-downgrade" />
        <link rel="canonical" href="{{ .Permalink }}" />
        {{- if .IsTranslated }}
            {{- range .Translations }}
                <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
            {{- end }}
        {{- end }}
        <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
        <!-- Primary Meta Tags -->
        <meta name="title" content="{{ .Title }}" />
        <!-- Description tags -->
        <meta
            name="description"
            content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}"
        />
        <meta
            itemprop="description"
            content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}"
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:title" content="{{ .Title }}" />
        <meta
            property="og:description"
            content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}"
        />
        <meta
            property="og:image"
            content="{{ if .Params.illustration }}{{ .Permalink }}{{ .Params.illustration }}{{ else }}{{ .Site.Params.Image | absURL }}{{ end }}"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="{{ .Permalink }}" />
        <meta property="twitter:title" content="{{ .Title }}" />
        <meta
            property="twitter:description"
            content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}"
        />
        <meta
            property="twitter:image"
            content="{{ if .Params.illustration }}{{ .Permalink }}{{ .Params.illustration }}{{ else }}{{ .Site.Params.Image | absURL }}{{ end }}"
        />

        {{ if .Site.IsServer }}
            {{- $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/dev/postcss.config.js") | fingerprint }}
            <link rel="stylesheet" href="{{ $style.RelPermalink }}" data />
            {{ else }}
            {{- $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js")  | minify | fingerprint -}}

            <link
                rel="stylesheet"
                href="{{ $style.RelPermalink }}"
                integrity="{{ $style.Data.Integrity }}"
            />
        {{ end -}}

        <script
            src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.0/dist/alpine.min.js"
            defer
        ></script>

        {{ $font := resources.Get "css/inter.css" | minify | fingerprint }}
        <link
            rel="stylesheet"
            href="{{ $font.RelPermalink }}"
            integrity="{{ $font.Data.Integrity }}"
        />

        {{ if not .Site.IsServer }}
            <!-- OR WITH ENV VAR if eq (getenv "HUGO_ENV") "production"  -->
            <!--ONLY PRODUCTION-->
            {{ partial "analytics.html" . }}
        {{ end }}
    </head>

    <body x-data="{ mobileMenuOpen: false, iealert: true }">
        <div id="IEalert" class="py-15 p-10 bg-yellow-300 text-cool-gray-900 text-center">
            <div class="text-lg font-black">
                Ce site ne peut pas être affiché correctement sur votre navigateur
            </div>
            <a
                href="microsoft-edge:https://www.pilot.pm"
                class="bg-yellow-100 hover:bg-gray-200 active:bg-gray-300 focus:shadow-outline-gray border border-yellow-200 shadow text-yellow-900 text-center font-medium p-2 rounded my-2 inline-flex items-center"
            >
                Vous êtes sur Windows 10 ? Cliquez ici ( ou Ctrl+Shift+E ) pour ouvrir ce site avec
                Edge
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    class="h-4 w-4 mx-2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
                    />
                </svg>
            </a>
            <p>
                Sinon vous pouvez télécharger un navigateur moderne (
                <a class="underline" href="https://www.microsoft.com/fr-fr/edge">Edge</a>
                ,
                <a class="underline" href="https://www.google.com/intl/fr_fr/chrome/">Chrome</a>
                ,
                <a class="underline" href="https://www.mozilla.org/fr/firefox/new/">Firefox</a>
                )
            </p>
        </div>

        <div class="flex flex-col justify-between h-screen">
            {{ block "header" . }}{{ partial "header" . }}{{ end }}
            <main class="flex-1">
                {{ partial "breadcrumb" . }}
                {{ block "main" . }}{{ end }}
            </main>

            <footer>
                {{ partial "footer.html" . }}
            </footer>
        </div>
        {{ if not .Site.IsServer }}
            <!-- OR WITH ENV VAR if eq (getenv "HUGO_ENV") "production"  -->
            <!--ONLY PRODUCTION-->
            {{ partial "chat.html" . }}
        {{ end }}
        <script>
            if (
                navigator.userAgent.indexOf("MSIE") !== -1 ||
                navigator.appVersion.indexOf("Trident/") > -1
            ) {
                console.log("IE detected")
                var element = document.getElementById("IEalert")
                element.style.display = "block"
            }
        </script>
    </body>
</html>
