{{ define "main" }}
<div class="max-w-6xl mb-20 mx-auto">
  <div class="flex flex-col py-5 md:flex-row relative max-w-screen mx-auto">
    <div id="NoteHeader" class="flex-1 mx-auto  max-w-3xl">
      {{ if eq .Section "blog" }}
      <a href="{{ .Site.LanguagePrefix }}/blog" class="flex stroke-current text-gray-900 underline mb-10">
        Back to blog
      </a>
      {{ end }}
      {{ if eq .Section "resources" }}
      <a href="{{ .Site.LanguagePrefix }}/resources" class="flex stroke-current text-gray-900 underline mb-10">
        Back to resources
      </a>
      {{ end }}

      <div class="text-4xl md:text-4xl lg:text-5xl font-black leading-none">
        {{.Title}}
      </div>
      {{ if isset .Params "subtitle" }}
      <div class="text-gray-700 text-2xl my-10">{{ .Params.subtitle }}</div>
      {{ end }}
    </div>
    {{ if isset .Params "illustration" }}
    <div id="Illustration" class="mx-10 flex-shrink-0 flex-1">
      <img class="object-contain" w-full src="{{ .Params.Illustration }}" alt="">
    </div>
    {{ end }}
  </div>
  <div class="relative max-w-3xl bg-white mx-auto z-30 my-10">
    <div class="content">
      {{- .Content -}}
    </div>
  </div>

</div>
<div class="bg-gray-100 text-brand-900 mt-10">
  {{ partial "callToAction.html" . }}
</div>
{{ end }}