{{ define "main" }}
    <div class="container">
        <div class="max-w-prose mx-auto text-base">
            <p class="text-base font-semibold leading-6 tracking-wide text-indigo-600 uppercase">
                {{ .Params.tag }}
            </p>
            <h1
                class="mb-8 text-4xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-5xl sm:leading-none"
            >
                {{ .Title }}
            </h1>
            <div class="prose prose-lg sm:prose-xl text-gray-800">
                {{ .Content }}
            </div>
        </div>
    </div>

    <div class="mt-10 bg-gray-100 rounded-t text-brand-900">
        {{ partial "callToAction.html" . }}
    </div>
{{ end }}
