html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	&.resize-active * {
		transition: none !important;
	}
}

body {
	&.nav-active {
		overflow: hidden;
		position: fixed;
		width: 100%;
	}
}

#wrapper {
	position: relative;
	overflow: hidden;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	max-width: 960px;
}

a {
	@include animate(color);

	outline: none;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

h1,
h2,
h3 {
	font-weight: 400;
}

h1 {
	line-height: 1.2;
	margin: 0 0 12px;
	color: #215071;

	strong {
		font-weight: 700;
	}

	& + .subtitle {
		color: #505f69;
		display: block;
	}
}

h3 {
	color: #353535;
	letter-spacing: 0.1px;
	text-align: center;
}

h4 {
	font-weight: 500;

	@include media('>=desktop') {
		font-size: 22px;
	}
}

.btn {
	@include animate(color background-color border-color);

	display: inline-block;
	vertical-align: middle;
	padding: 12px 19px;
	border-radius: 3px;
	border: 1px solid $light-blue;
	min-width: 80px;
	background-color: $light-blue;
	color: $white;
	font-weight: 500;
	overflow: hidden;
	outline: none;
	text-align: center;

	&:hover {
		background-color: $white;
		color: $light-blue;
	}

	&.btn-white {
		background-color: $white;
		color: #3276a6;
		border-color: #dde2e6;

		&:hover {
			background-color: #3276a6;
			color: $white;
		}
	}

	&.btn-light {
		background-color: $dark-blue;
		border-color: $white;

		&:hover {
			background-color: $white;
			color: $dark-blue;
		}
	}
}

.check-list {
	@extend %listreset;

	color: #4f5a62;
	font-family: $ibm-plex-font;
	text-align: left;

	li {
		position: relative;
		padding-left: 60px;
		padding-bottom:  26px;

		&:before {
			@include size(36px);

			content: '\e905';
			font-family: 'icomoon';
			line-height: 36px;
			text-align: center;
			background-color: rgba(#c0e7de, .54);
			color: #449f8b;
			border-radius: 50%;
			display: block;
			position: absolute;
			top: -7px;
			left: 13px;
		}
	}
}

.tag-block {
	@extend %listreset;

	color: #2f2f2f;

	@include media('<desktop') {
		display: none;
	}

	li {
		@include media('>=desktop') {
			background-color: $white;
			box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
			border-radius: 8px;
			padding: 6px 5px;
			width: 95px;
			position: absolute;
		}

		&:nth-child(1) {
			@include media('>=desktop') {
				top: -104px;
				left: -7px;
				transform: rotate(5deg);
			}

			@include media('>=widescreen') {
				top: 6px;
				left: -97px;
			}
		}

		&:nth-child(2) {
			@include media('>=desktop') {
				top: 45px;
				left: -37px;
				transform: rotate(-7deg);
			}

			@include media('>=widescreen') {
				top: 175px;
				left: -97px;
			}
		}

		&:nth-child(3) {
			@include media('>=desktop') {
				top: -104px;
				right: -8px;
				transform: rotate(6deg);
			}

			@include media('>=widescreen') {
				top: 10px;
				right: -87px;
			}
		}

		&:nth-child(4) {
			@include media('>=desktop') {
				top: 45px;
				right: -37px;
				transform: rotate(9deg);
			}

			@include media('>=widescreen') {
				top: 190px;
				right: -119px;
			}
		}
	}

	.title {
		@include media('>=desktop') {
			display: block;
			font: 500 15px $rubik-font;
		}
	}

	.img-holder {
		@include media('>=desktop') {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 55px;
			margin-bottom: 7px;
		}
	}
}

.relative-holder {
	position: relative;
}

.subscribe-form {
	background-color: $white;
	border-radius: 3px;
	padding: 4px;
	border: 1px solid #dfdfdf;
	box-shadow: 0 4px 9px rgba($black, 0.13);
	position: relative;
	display: table;
	border-collapse: separate;
	width: 100%;

	.input-holder {
		padding-left: 10px;
		display: table-row;

		@include media('>=phone') {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
		}

		i {
			@include animate(color);

			color: #9cafbd;
			display: inline-block;
			vertical-align: middle;
			position: absolute;
			top: 19px;
			left: 6px;
			z-index: 2;

			@include media('>=phone') {
				left: 14px;
				top: 49%;
				transform: translateY(-50%);
			}
		}
	}

	.submit-holder {
		display: table-row;
		white-space: nowrap;

		@include media('>=phone') {
			display: table-cell;
			vertical-align: middle;
			width: 1%;
		}
	}

	input[type="email"],
	input[type="text"] {
		@include placeholder {
			color: #878787;
		}

		border: none;
		padding: 0 26px;
		width: 100%;
		color: #878787;
		height: 45px;

		@include media('>=phone') {
			height: 100%;
		}

		&:focus {
			outline: none;

			& + i {
				color: $light-blue;
			}
		}
	}

	input[type="submit"],
	button[type="submit"] {
		white-space: nowrap;
		width: 100%;
		text-transform: uppercase;
		font: 600 12px $ibm-plex-font;

		@include media('>=tablet') {
			font-size: 14px;
		}

		i {
			margin: 0 -9px 0 11px;
			font-size: 14px;
		}
	}
}

.intro-section {
	text-align: center;
	position: relative;
	background: $dark-blue;
	color: $white;
	padding: 40px 0 20px;
	font-size: 15px;

	@include media('>=tablet') {
		padding: 56px 0 47px;
	}

	.homepage & {
		background: transparent;
		padding: 20px 0 70px;
		color: #585858;

		@include media ('>=desktop') {
			padding: 53px 0 148px;
		}

		h1 {
			color: #282828;

			@include media ('>=tablet') {
				margin-bottom: 31px;
			}
		}

		.text-holder {
			max-width: 650px;
			font-size: 18px;
			line-height: 1.5;
		}
	}

	.container {
		position: relative;
		z-index: 2;
	}

	.relative-holder {

		&:before {
			content: '';
			position: absolute;
			top: -55px;
			right: -210px;
			width: 930px;
			height: 500px;
			background: url(~static/images/pattern-1.png) no-repeat;
			z-index: -1;

			@include media('>=tablet') {
				top: -65px;
			}
		}
	}

	h1 {
		color: $white;
		margin-bottom: 14px;

		@include media('>=desktop') {
			font-size: 35px;
			margin-bottom: 24px;
		}

		strong {
			position: relative;
			display: inline-block;

			&:after {
				content: '';
				position: absolute;
				bottom: -6px;
				left: 0;
				right: 0;
				height: 17px;
				background-color: #ffbf08;
				display: block;
				transform: rotate(-1deg);
				z-index: -1;
			}
		}
	}

	p {
		margin-bottom: 25px;
	}

	.text-holder {
		max-width: 700px;
		margin: 0 auto;
		line-height: 1.6875;

		p {
			margin-bottom: 22px;
		}
	}

	.subscribe-form {
		max-width: 514px;
		margin: 0 auto 19px;

		input[type="submit"],
		button[type="submit"] {
			font-family: $roboto-font;
			font-weight: 500;

			@include media('>=desktop') {
				font-size: 16px;
			}
		}
	}
}

.functionality-section {
	text-align: center;
	padding: 0 0 21px;
	color: #675f5f;

	.container {
		max-width: 1134px;
	}

	.subtitle {
		margin-bottom: 20px;

		@include media('>=desktop') {
			margin-bottom: 103px;
		}
	}

	.relative-holder {
		&:before {
			content: '';
			position: absolute;
			top: 50px;
			left: -28%;
			width: 100%;
			height: 100%;
			background: url(~static/images/oval-1.svg) top right no-repeat;
			z-index: -1;
		}
	}

	.row {
		text-align: left;
		line-height: 1.5;

		@include media('>=tablet') {
			display: flex;
			margin-bottom: 40px;
		}

		@include media('>=desktop') {
			margin-bottom: 139px;
		}

		&.reverse {
			@include media('>=tablet') {
				flex-direction: row-reverse;
			}
		}

		.col {
			padding: 0 0 20px;

			@include media('>=tablet') {
				width: 50%;
				padding: 0 15px;
			}

			&:nth-child(odd) {

				@include media('>=tablet') {
					align-self: center;
				}

				@include media('>=desktop') {
					padding: 0 30px 0 47px;
				}
			}

			&:nth-child(even) {

				@include media('>=tablet') {
					text-align: center;
				}
			}

			&.col-sm {
				@include media('>=tablet') {
					width: 38%;
				}

				& + .col {
					@include media('>=tablet') {
						width: 62%;
					}
				}
			}
		}

		.icon-holder {
			@include size(49px);

			border-radius: 18px;
			position: relative;
			display: inline-block;
			vertical-align: middle;
			background-color: #9f9f9f;
			font-size: 24px;

			&.blue-holder {
				color: $light-blue;
				background-color: #ddf1ff;
			}

			&.pink-holder {
				background-color: #ffddf1;
				color: #f54ec6;
			}

			&.purple-holder {
				color: #652f97;
				background-color: #dccfe8;
			}

			&.green-holder {
				background-color: #dfeecf;
				color: #559114;
			}

			&.yellow-holder {
				background-color: #ffeed2;
				color: $orange;
			}

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.title-holder {
			margin-bottom: 22px;
		}
	}

	h2 {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		color: $black;
		margin: 0 0 10px;
		padding-left: 8px;
		width: calc(100% - 80px);
	}

	.btn {
		font: 600 14px $ibm-plex-font;
		text-transform: uppercase;
		padding: 15px 19px;
		min-width: 168px;
		text-align: left;
		position: relative;

		i {
			position: absolute;
			top: 18px;
			right: 10px;
		}
	}
}

.partners-section {
	text-align: center;
	padding: 0 0 20px;

	@include media('>=desktop') {
		padding-bottom: 120px;
		font-size: 17px;
	}

	h1 {
		margin-bottom: 14px;
	}

	.subtitle {
		margin-bottom: 20px;

		@include media('>=desktop') {
			margin-bottom: 55px;
		}
	}

	.logo-list {
		@extend %listreset;

		@include media('>=tablet') {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
		}

		li {
			padding: 0 15px 15px;

			@include media('>=tablet') {
				width: 20%;
			}
		}
	}
}

.contact-us {
	text-align: center;
	padding-bottom: 20px;
	position: relative;

	@include media('>=desktop') {
		padding-bottom: 100px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 101px;
		left: 0;
		width: 60%;
		height: 500px;
		background: url(~static/images/oval-2.svg) top right no-repeat;
		z-index: -1;
	}

	h4 {
		color: #3e4e5a;
		margin-bottom: 31px;

		@include media('>=desktop') {
			font-size: 19px;
		}

		strong {
			font-weight: 700;
		}
	}

	.container {
		max-width: 1005px;
	}

	.subtitle {
		margin-bottom: 20px;

		@include media('>=desktop') {
			margin-bottom: 52px;
		}
	}

	.form-holder {
		border: 1px solid #e1e1e1;
		box-shadow: 0 8px 13px rgba($black, 0.07);
		background-color: $white;
		border-radius: 8px;

		@include media('>=tablet') {
			display: flex;
		}

		.col {
			padding: 28px 9px 17px;

			&:nth-child(odd) {

				@include media('>=tablet') {
					width: 51%;
				}
			}

			&:nth-child(even) {
				background-color: rgba(#daedfa, .49);

				@include media('>=tablet') {
					width: 49%;
					padding: 28px 30px 17px;
				}
			}
		}

		.text-holder {
			font: 500 14px $ibm-plex-font;
			color: rgba(92, 115, 131, 0.54);
			text-align: left;

			@include media('>=tablet') {
				padding-top: 54px;
			}
		}

		.subscribe-form {
			margin-bottom: 15px;

			.input-holder {
				@include media('>=phone') {
					display: table-row;
				}

				@include media('>=desktop') {
					display: table-cell;
					vertical-align: middle;
					width: 100%;
				}

				i {
					@include media('>=phone') {
						top: 20px;
						left: 6px;
						transform: none;
					}

					@include media('>=desktop') {
						left: 14px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}

			.submit-holder {

				@include media('>=phone') {
					display: table-row;
					white-space: nowrap;
				}

				@include media('>=desktop') {
					display: table-cell;
					vertical-align: middle;
					width: 1%;
				}
			}

			input[type="email"],
			input[type="text"] {

				@include media('>=phone') {
					height: 45px;
				}

				@include media('>=desktop') {
					height: 100%;
				}
			}
		}
	}
}

.prices-section {
	text-align: center;
	position: relative;
	color: $white;
	padding-bottom: 20px;

	@include media('>=desktop') {
		padding-bottom: 74px;
	}

	&:before {
		content: '';
		position: absolute;
		top: -296px;
		left: -54%;
		right: -41%;
		height: 611px;
		background: url('~static/images/pattern-2.svg') center/cover no-repeat;
		z-index: -1;

		@include media('>=1600px') {
			left: -20%;
			right: -20%;
		}
	}

	h1 {
		color: inherit;

		& + .subtitle {
			color: inherit;
		}
	}

	.container {
		max-width: 1070px;
	}

	.subtitle {
		margin-bottom: 20px;

		@include media('>=desktop') {
			margin-bottom: 49px;
		}
	}

	.row {
		@include media('>=desktop') {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin: 0 -8px;
		}

		.col {
			padding-bottom: 20px;

			@include media('>=tablet') {
				width: 50%;
				margin: 0 auto;
			}

			@include media('>=desktop') {
				margin: 0;
				width: 33.332%;
				padding: 0 8px 20px;
			}
		}
	}

	.info-block {
		box-shadow: 0 14px 18px rgba(0, 0, 0, 0.08);
		border-radius: 8px;
		background-color: $white;
		border-top: 8px solid #d6d6d6;
		color: #4d5d69;
		padding-bottom: 18px;

		&.active-block {
			border-top-color: #007ad0;
			padding-bottom: 26px;

			.price {
				color: $light-blue;
			}

			.info-list {
				margin-bottom: 47px;
			}

			.btn {
				font-size: 18px;
				padding: 21px 19px;
				color: $white;

				&:hover {
					color: $light-blue;
				}
			}
		}

		.info-head {
			padding: 25px 10px 10px;
		}

		h4 {
			color: #292929;
			margin-bottom: 6px;
		}

		.price-info {
			max-width: 150px;
			margin: 0 auto 11px;
		}

		.price {
			color: #5c5c5c;
			font-weight: 300;
			font-size: 48px;
			display: inline-block;
			vertical-align: middle;
		}

		.text-holder {
			display: inline-block;
			vertical-align: middle;
			color: #a6a6a6;
			font-size: 14px;
			line-height: 1.4;

			p {
				margin-bottom: 0;
			}
		}

		.info-list {
			@extend %listreset;

			font: 500 15px $ibm-plex-font;
			border-top: 1px solid #f2efef;
			margin-bottom: 17px;

			li {
				padding: 14px 0;
				border-bottom: 1px solid #f2efef;
			}
		}

		.comment {
			color: #9f9f9f;
			display: block;
			margin-bottom: 17px;
		}

		.btn-holder {
			padding: 0 16px;
		}

		.btn {
			display: block;
			padding: 15px 19px;
			color: #898989;

			&:hover {
				color: $white;
			}
		}
	}
}

.card-holder {
	font-size: 14px;
	margin: 0 -5px 55px;

	@include media ('>=tablet') {
		margin: 0 -18px 43px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.card {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
		border: 1px solid $gray-light;
		border-radius: 8px;
		color: #595959;
		margin: 0 auto 25px;
		width: 285px;
		position: relative;
		min-height: 293px;
		padding-bottom: 100px;

		@include media ('>=tablet') {
			margin: 0 18px 53px;
		}

		.card-heading {
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			min-height: 97px;
			text-align: center;
			display: flex;
			justify-content: center;
			color: $white;
			font-size: 17px;

			&.dark-blue-overlay {
				.icon {
					background-color: #163952;
				}
			}

			&.purple-overlay {
				.icon {
					background-color: #552162;
				}
			}

			&.blue-overlay {
				.icon {
					background-color: #11265e;
				}
			}

			&.green-overlay {
				.icon {
					background-color: #11553d;
				}
			}

			&.brown-overlay {
				.icon {
					background-color: #673514;
				}
			}

			.heading-text {
				text-align: center;
				padding: 18px 10px 0; 
			}
		}

		.icon {
			display: block;
			width: 35px;
			height: 35px;
			border-radius: 8px;
			margin: 0 auto 6px;
			background-color: #163952;
			position: relative;
			font-size: 17px;

			&.icon-letter {
				font-size: 14px;
			}

			&.icon-ask {
				font-size: 21px;
			}

			&.icon-book {
				font-size: 19px;
			}

			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		h6 {
			font-weight: 500;
			font-size: 17px;
		}

		.card-body {
			line-height: 1.5;
			padding: 20px 15px 0px;
		}

		.card-footer {
			padding: 10px 15px 17px;
			position: relative;
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;

			.ressources-link {
				display: inline-block;
				margin-bottom: 10px;

				&:hover {
					color: $orange;
				}
			}

			.btn {
				display: block;
				padding: 14px 19px;
				font-size: $font-size-base;
			}
		}
	}
}

.card-section {
	padding: 40px 0;
	border-bottom: 1px solid $gray-light;

	@include media ('>=tablet') {
		padding: 61px 0 112px;
	}

	.text-holder {
		max-width: 525px;
		margin: 0 auto;
		text-align: center;
		color: #828282;
		letter-spacing: 0.1px;
		font-size: 15px;

		p {
			@include media ('>=tablet') {
				margin-bottom: 37px;
			}
		}

		.subscribe-form {
			box-shadow: none;
		}
	}
}

.blog-section {
	padding: 40px 0;

	@include media ('>=tablet') {
		padding: 50px 0 94px;
	}

	h3 {
		margin-bottom: 25px;

		@include media ('>=phone') {
			margin-bottom: 30px;
		}

		@include media ('>=tablet') {
			margin-bottom: 51px;
		}
	}

	.container {
		max-width: 996px;
	}

	.row {
		margin: 0 -20px;

		@include media ('>=tablet') {
			margin: 0 -40px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
	}

	.col {
		padding: 0 20px;
		max-width: 342px;
		font-size: 13px;
		color: #707070;
		margin: 0 auto 40px;
		position: relative;

		@include media ('>=phone') {
			max-width: 342px;
		}

		@include media ('>=tablet') {
			padding: 0 40px;
			width: 33.3%;
			border-right: 1px solid $gray-light;
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&:last-child {
			border-right: none;
		}

		.img-holder {
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			min-height: 153px;
			border-radius: 4px;
			margin-bottom: 15px;

			@include media ('>=tablet') {
				margin-bottom: 26px;
			}
		}

		h6 {
			font-size: $font-size-base;
			font-weight: 400;
			color: $gray;
			line-height: 1.16;
			margin-bottom: 10px;

			@include media ('>=tablet') {
				margin-bottom: 17px;
			}
		}

		p {
			margin-bottom: 15px;

			@include media ('>=tablet') {
				margin-bottom: 26px;
			}
		}

		.btn-white {
			display: block;
			font-size: $font-size-base;
			font-weight: 400;
			text-align: center;

			@include media ('>=tablet') {
				padding: 16px 19px;
			}
		}
	}
}

img.grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
}