#footer {
	background: $dark-blue;
	border-bottom: 5px solid $light-blue;
	padding: 42px 0;

	.container {
		max-width: 1110px;
		margin: 0 auto;
		padding: 0 15px;
	}

	a {
		text-decoration: none;
	}

	.row {
		@include media ('>=phone') {
			margin: 0 -15px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}

	.col {
		@include media ('>=phone') {
			width: 50%;
			padding: 0 15px;
			margin: 0 -4px;
		}

		@include media ('>=tablet') {
			max-width: 25%;
		}
	}

	.contact-holder {
		padding: 25px 0 20px;

		@include media ('>=phone') {
			padding: 44px 0 33px;
		}

		@include media ('>=tablet') {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		@include media ('>=desktop') {
			align-items: center;
		}
	}

	.info-block {
		margin-bottom: 20px;

		@include media ('>=phone') {
			display: flex;
			align-items: center;
		}

		@include media ('>=797px') {
			margin-bottom: 0;
			width: 60%;
		}
	}

	.form-block {
		@include media ('>=797px') {
			width: 40%;
			display: flex;
			justify-content: flex-end;
		}
	}

	.logo {
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;
		margin-bottom: 20px;
		width: 108px;

		@include media ('>=phone') {
			margin-bottom: 0;
		}
	}

	.subscribe-form {
		font-size: 14px;
		margin: 0;
		max-width: 329px;
		padding: 2px;

		.btn {
			padding: 12px 10px;
			text-transform: none;
			font-size: 14px;
			line-height: 1;
		}
	}
}

.footer-nav {
	padding-bottom: 20px;
	border-bottom: 1px solid rgba($white, 0.08);

	h5 {
		text-transform: uppercase;
		font-size: 15px;
		color: $white;
		font-weight: 500;
		margin-bottom: 19px;
	}

	.nav-list {
		@extend %listreset;

		padding-bottom: 15px;
		max-width: 170px;

		li {
			font-size: 14px;
			line-height: 1.35714285;
			margin-bottom: 8px;
		}

		a {
			color: rgba($white, 0.6);
			font-weight: 400;

			&:hover {
				color: $light-blue;
			}
		}
	}
}

.social-networks {
	@extend %listreset;

	@include media ('>=phone') {
		width: calc(100% - 128px);
	}

	li {
		display: inline-block;
		vertical-align: top;
		color: $white;
		font-size: 14px;
		padding-right: 5px;
		padding-bottom: 10px;

		@include media('>=phone') {
			padding: 10px 5px 10px 0;
		}

		&:last-child {
			padding-right: 0;
		}

		a {
			padding: 8px 10px;
			display: block;
			border-radius: 4px;
			background: #0a2233;
			color: $white;

			&:hover {
				text-decoration: none;
				color: $light-blue;
			}

			.icon {
				padding-right: 10px;
			}
		}
	}
}