.mainTitle > strong {
    position: relative;
    display: inline-block;
}

.mainTitle > strong:after{
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 17px;
  background-color: #ffbf08;
  display: block;
  transform: rotate(-1deg);
  z-index: -1;
}

.bg-whatsapp{
  background-color: #F5F5F5;
  color: white;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}

a {
  text-decoration: underline;
}

#main a {
    @apply text-blue-500;
    @apply underline;
}
#main a:visited {
  @apply text-brand-600;
}

/* Additional vertical padding used by kbd tag. */
.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.content {
  @apply text-xl text-gray-900 leading-normal break-words;
}

.content img {
  @apply shadow-lg my-5;
  max-width: initial !important;
}

.content > * + *, iframe {
  @apply mt-0 mb-4;
}


.content li + li {
  @apply mt-1;
}

.content li > p + p {
  @apply mt-6;
}

.content strong {
  @apply font-semibold;
}

.content a {
  @apply text-blue-600 font-semibold;
}

.content strong a {
  @apply font-bold;
}

.content h1 {
  @apply leading-tight text-4xl font-bold mb-4 mt-20 pb-2;
}

.content h1:first-child {
  @apply mt-0;
}

.content h2 {
  @apply leading-tight text-3xl font-bold mb-2 mt-10 pb-2;
}

.content h3 {
  @apply leading-snug text-2xl font-semibold mb-4 mt-6;
}

.content h4 {
  @apply leading-none text-xl font-semibold mb-4 mt-6;
}

.content h5 {
  @apply leading-tight text-xl font-semibold mb-4 mt-6;
}

.content h6 {
  @apply leading-tight text-xl font-semibold text-gray-600 mb-4 mt-6;
}

.content blockquote {
  @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
}

.content code {
  @apply font-mono inline bg-gray-200 rounded px-1 py-05;
}

.content pre {
  @apply bg-gray-100 rounded p-4;
}

.content pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.content ul {
  @apply pl-8 list-disc;
}

.content ol {
  @apply pl-8 list-decimal;
}

.content kbd {
  @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
}

.content table {
  @apply border-gray-600;
}

.content th {
  @apply border py-1 px-3;
}

.content td {
  @apply border py-1 px-3;
}

/* Override pygments style background color. */
.content .highlight pre {
  @apply bg-gray-100 !important;
}
