/* Base - Variables: tailwind-config.js */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

[x-cloak] {
    display: none;
}

.container {
    @apply max-w-screen-xl px-5 mx-auto;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}

a {
    @apply text-brand-900 hover:text-blue-800 cursor-pointer;
    transition: all 100ms ease-in-out;
}

.form-input {
    margin-bottom: 1.5em;
}

.full-width {
    width: 100vw;
}

.ButtonMainNav {
    @apply text-brand-800 py-2 px-3 rounded hover:bg-brand-100 group inline-flex items-center space-x-2 text-base leading-6 font-medium hover:text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150;
}

.button {
    @apply inline-flex items-center px-4 py-2 m-1 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.menu {
    @apply inline-flex items-center py-2  text-base font-semibold rounded-md text-gray-900 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
}

#TableOfContents > ul > li > a {
    @apply group rounded-md  py-1 flex z-50 items-center text-base font-medium;
}

#TableOfContents > ul > li > ul > li > a {
    @apply group rounded-md pl-8 py-1 flex items-center text-base font-medium;
}

#TableOfContents > ul > li > a.active,
#TableOfContents > ul > li > ul > li > a.active {
    @apply text-blue-600 font-medium;
}

.prose ul > li::before {
    background-color: black;
}

.prose {
    max-width: 100%;
}

.reading > h1,
.reading > div > *:not(figure) {
    max-width: 680px;
    @apply mx-auto;
}

.reading > div > figure {
    max-width: 100vw;
    @apply mx-auto;
}
