
{{ if not .IsHome }}
<nav aria-label="breadcrumb" class="container bg-white text-gray-400 py-2">
  <div class="breadcrumb"  class="flex flex-row bg-yellow-50" itemscope itemtype="http://schema.org/BreadcrumbList">
  
    <a href="{{  .Site.BaseURL  }}" class="underline" itemprop="item">
      <span itemprop="name">
        Home
      </span>
      <meta itemprop="position" content="1" />
    </a>

    {{ $findUrl := slice }}

    {{ range $index, $el := (split .URL "/") }}
    {{ if gt (len . ) 0 }}

    {{ $findUrl = uniq ($findUrl | append .) | sort }}

    {{ end }}
    {{ end }}

    {{ $url := "/" }}
    {{ range $index, $el := $findUrl }}

   
    {{ $url = "/" | add . | add $url  }}

      &rarr;<a href="{{ $url }}"  class="underline capitalize" itemprop="item">
          <span itemprop="name"> {{ . }} </span>
          {{ $index = $index | add 2 }}
          <meta itemprop="position" content="{{ $index }}" />
        </a>

    {{ end }}

  </div>


</nav>

<!-- END breadcrumbs -->
{{end}}