{{ if not .IsHome }}
    {{ $url := replace .Permalink (printf "%s" .Site.BaseURL) "" }}
    {{ $.Scratch.Add "path" .Site.BaseURL }}
    {{ $.Scratch.Add "path" "/" }}

    <nav class="py-2 text-brand-400 font-medium bg-white border-t border-gray-50">
        <div class="flex max-w-screen-xl  mx-auto">
            <a class="text-brand-400 hover:underline" href="/">home</a>
            {{ range $index, $element := split $url "/" }}
                {{ $.Scratch.Add "path" $element }}
                {{ if ne $element "" }}
                    <div class="mx-2">&rarr;</div>
                    <a class="text-brand-400 hover:underline" href="{{ $.Scratch.Get "path" }}">
                        {{ . }}
                    </a>
                    {{ $.Scratch.Add "path" "/" }}
                {{ end }}
            {{ end }}
        </div>
    </nav>
{{ end }}
