
{{ if not .IsHome }}

{{ $url := replace .Permalink (printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}
{{ $.Scratch.Add "path" "/" }}

<nav class="bg-white text-gray-400 py-2">
 <div class="breadcrumbs  max-w-screen-xl  px-5 mx-auto flex">
    <a class="underline" href="/">home</a>
    {{ range $index, $element := split $url "/" }}
      {{ $.Scratch.Add "path" $element }}
        {{ if ne $element "" }}
          <div class="mx-2">&rarr;</div>
          <a class="underline" href='{{ $.Scratch.Get "path" }}'>{{ . }}</a>
          {{ $.Scratch.Add "path" "/" }}
        {{ end }}
    {{ end }}
 </div>
</nav>


{{ end }}