<div class="bg-white">
    <div class="container pt-16 pb-20 px-4 sm:px-6 md:pb-24 lg:px-8">
        <div id="clients-section" class="py-12  lg:py-16 ">
            <div
                class="max-w-screen-xl flex items-center justify-between mx-auto  px-4 sm:px-6 lg:px-8"
            >
                <h2 class="mb-3 text-2xl mx-auto font-medium text-gray-900">
                    {{ i18n "theyTrustUs" }}
                </h2>
            </div>
            <div
                class="max-w-screen-xl flex items-center justify-between mx-auto  px-4 sm:px-6  lg:px-8"
            >
                <div class="flex flex-col sm:flex-row">
                    {{- $resource := resources.Get "images/clients/harmonie.jpg" -}}
                    {{ $image := $resource.Resize "400x jpg" }}
                    {{ partial "img.html" (dict "context" . "src" $image.RelPermalink "alt" "Harmonie mutuelle" "class" "max-h-20") }}
                </div>
                <div class="flex flex-col sm:flex-row">
                    <img
                        class="max-h-20"
                        src="/images/clients/vinci.jpg"
                        alt="VINCI construction"
                    />
                </div>
                <div class="flex flex-col sm:flex-row">
                    <img
                        class="max-h-20"
                        src="/images/clients/banquepop.png"
                        alt="BANQUE POPULAIRE"
                    />
                </div>
                <div class="flex flex-col sm:flex-row">
                    <img
                        class="max-h-20"
                        src="/images/clients/mousquetaires.svg"
                        alt="Groupe Mousquetaires"
                    />
                </div>
                <div class="flex flex-col sm:flex-row">
                    <img
                        class="max-h-16"
                        src="/images/clients/moet.jpg"
                        alt="Groupe Mousquetaires"
                    />
                </div>
                <div class="flex flex-col sm:flex-row">
                    <img class="max-h-20" src="/images/clients/mgen.jpeg" alt="MGEN" />
                </div>
            </div>
        </div>
    </div>
</div>
