<div class="bg-whatsapp">
  <div class="max-w-screen-xl mx-auto py-12 px-6 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight sm:text-4xl sm:leading-10">
      {{ i18n "whatsappChannel" }}
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      
      <div class="ml-3 inline-flex rounded shadow">
        <a href="https://wa.me/33621194828" class="inline-flex items-center justify-center pr-5 py-0 border border-transparent text-base leading-6 font-bold rounded text-black bg-gray-50 hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
          <img src="/images/WhatsApp_Logo.png" width="100px" alt="whatsapp logo"> https://wa.me/33621194828
        </a>
      </div>
    </div>
  </div>
</div>