<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/matthieu/Downloads/bensound-hipjazz.mp3</key>
	<data>
	Ym9va8QCAAAAAAQQMAAAAIWoFwmyfcmTuCXICDvGsPOdfR9VVeRR/7HdhMUJZfmtwAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAG1hdHRoaWV1CQAAAAEB
	AABEb3dubG9hZHMAAAAUAAAAAQEAAGJlbnNvdW5kLWhpcGphenoubXAzEAAAAAEGAAAQ
	AAAAIAAAADAAAABEAAAACAAAAAQDAAAvYgYAAAAAAAgAAAAEAwAAZKgJAAAAAAAIAAAA
	BAMAAOE73AQCAAAACAAAAAQDAADSizMFAgAAABAAAAABBgAAeAAAAIgAAACYAAAAqAAA
	AAgAAAAABAAAQcLYYnOo5IUYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
	AAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAABgRmQ6AAAACAAAAAAEAABBwd5EgAAAACQAAAABAQAA
	ODIxQ0NEQzktQTRGRC0zQUJCLUJCQ0YtNjZBMjJEOUE0OTQyGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAA
	AAAQAAAABBAAAGAAAAAAAAAABRAAALgAAAAAAAAAEBAAAOAAAAAAAAAAQBAAANAAAAAA
	AAAAAiAAAKwBAAAAAAAABSAAABwBAAAAAAAAECAAACwBAAAAAAAAESAAAGABAAAAAAAA
	EiAAAEABAAAAAAAAEyAAAFABAAAAAAAAICAAAIwBAAAAAAAAMCAAALgBAAAAAAAAAcAA
	AAABAAAAAAAAEcAAACAAAAAAAAAAEsAAABABAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Volumes/backy/Dropbox/Huckleberry/Pilot/assets/logo/_logo_export/logo_1024.jpg</key>
	<data>
	Ym9va6AEAAAAAAQQMAAAAP99F/vZ7cQpZPy7LNYWcvVRWVzMWx5zSp/01X7rUIvDwAMA
	AAQAAAADAwAAAAgAKAcAAAABAQAAVm9sdW1lcwAFAAAAAQEAAGJhY2t5AAAABwAAAAEB
	AABEcm9wYm94AAsAAAABAQAASHVja2xlYmVycnkABQAAAAEBAABQaWxvdAAAAAYAAAAB
	AQAAYXNzZXRzAAAEAAAAAQEAAGxvZ28MAAAAAQEAAF9sb2dvX2V4cG9ydA0AAAABAQAA
	bG9nb18xMDI0LmpwZwAAACQAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQAAABkAAAAdAAA
	AIAAAACUAAAACAAAAAQDAAAaCN8CAgAAAAgAAAAEAwAAAgAAAAAAAAAIAAAABAMAAGIS
	BwAAAAAACAAAAAQDAAAuEwcAAAAAAAgAAAAEAwAAuRQHAAAAAAAIAAAABAMAAFkVBwAA
	AAAACAAAAAQDAAB1FgcAAAAAAAgAAAAEAwAATRgHAAAAAAAIAAAABAMAACZlBwAAAAAA
	JAAAAAEGAADYAAAA6AAAAPgAAAAIAQAAGAEAACgBAAA4AQAASAEAAFgBAAAIAAAAAAQA
	AEG5GMOQAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAWAAAAAQkAAGZp
	bGU6Ly8vVm9sdW1lcy9iYWNreS8AAAgAAAAEAwAAAADgbKMDAAAIAAAAAAQAAEHBv1uB
	AAAAJAAAAAEBAAA1ODJFRDNCMi0yQTI1LTNFOTgtOTQ4Qy01MEZDMTBEN0JBNDgYAAAA
	AQIAAAEBAAABAAAA7xMAAAEAAAAAAAAAAAAAAA4AAAABAQAAL1ZvbHVtZXMvYmFja3kA
	AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAGBGZDoA
	AAAIAAAAAAQAAEHB3kSAAAAAJAAAAAEBAAA4MjFDQ0RDOS1BNEZELTNBQkItQkJDRi02
	NkEyMkQ5QTQ5NDIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
	LwAAAGAAAAD+////APAAAAAAAAAHAAAAAiAAAPgCAAAAAAAABSAAAGgCAAAAAAAAECAA
	AHgCAAAAAAAAESAAAKwCAAAAAAAAEiAAAIwCAAAAAAAAEyAAAJwCAAAAAAAAICAAANgC
	AAAAAAAABAAAAAMDAAAA8AAABAAAAAMDAAAAAAAABAAAAAMDAAABAAAAKAAAAAEGAABs
	AwAAeAMAAIQDAAB4AwAAeAMAAHgDAAB4AwAAeAMAAHgDAAB4AwAAqAAAAP7///8BAAAA
	BAMAAA0AAAAEEAAArAAAAAAAAAAFEAAAaAEAAAAAAAAQEAAApAEAAAAAAABAEAAAlAEA
	AAAAAAAAIAAAkAMAAAAAAAACIAAAUAIAAAAAAAAFIAAAxAEAAAAAAAAQIAAAIAAAAAAA
	AAARIAAABAIAAAAAAAASIAAA5AEAAAAAAAATIAAA9AEAAAAAAAAgIAAAMAIAAAAAAAAQ
	0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
