{{ define "main" }}

<div class="my-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:my-16 lg:my-20 xl:my-28">
  <div class="text-center">
    <h2 class="mainTitle text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
      {{ i18n "heroTitle1" | safeHTML  }}
      <br class="xl:hidden" />
      <strong class="xl:ml-1">{{ i18n "heroTitle2" | safeHTML  }}</strong>
    </h2>
    <p class="mt-3 max-w-md mx-auto text-base text-black sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
      {{ .Site.Params.description | safeHTML }}
    </p>
    <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
      <div>
        <a href="{{ .Site.Params.AppUrl }}/registration?lang={{.Site.Language.Lang}}" class="w-full rounded shadow flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded text-white bg-brand-900 hover:bg-brand-700 hover:shadow-lg focus:outline-none focus:shadow-outline-white transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
          {{ i18n "signup" }}
        </a>
        <div class="text-xs text-gray-400">{{ i18n "trialConditions" }}</div>
      </div>
      <div class="">
        <a href="https://demo.pilot.pm" class="w-full mt-3 rounded shadow sm:mt-0 sm:ml-3 flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded text-brand-900 bg-gray-50 hover:text-black hover:shadow-lg focus:outline-none focus:shadow-outline-blue transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
          Live demo
        </a>
      </div>
    </div>
  </div>
</div>
<div class="py-3 sm:py-6 bg-white">
  <div class="flex justify-center flex-col max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div>
      
      <div class="w-full flex items-center justify-center"><img src="/images/features/teamwork.png" alt="image description"></div>
      <h3 class="text-center mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        {{ i18n "sourceOfTruth" }}
      </h3>

    </div>
    <div class="mt-10 flex justify-center">
      <ul class="max-w-screen-xl md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">
        <li>
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-brand-700 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-watch"><circle cx="12" cy="12" r="7"></circle><polyline points="12 9 12 12 13.5 13.5"></polyline><path d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"></path></svg>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">{{ i18n "projectLifeCycle" }}</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                {{ i18n "projectLifeCycleText" }}
              </p>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-brand-700 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">{{ i18n "collaboration" }}</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                {{ i18n "collaborationText" }}
              </p>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-brand-700 text-white">
                {{ partial "svg/paperclip.svg" . }}
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">{{ i18n "shareFiles" }}</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                {{ i18n "shareFilesText" }}
              </p>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-brand-700 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline>
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">{{ i18n "organiseTasks" }}</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                {{ i18n "organiseTasksText" }}
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="features-section" class="py-16 bg-gray-50 overflow-hidden lg:py-24">
  <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-screen-xl">
    <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784">
      <defs>
        <pattern id="svg-pattern-squares-1" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="2" height="2" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#svg-pattern-squares-1)" />
    </svg>

    <div class="relative">
      <h3 class="text-center text-3xl capitalize leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        {{ i18n "features" }}
      </h3>
      <p class="mt-4 max-w-3xl mx-auto text-center text-xl leading-7 text-gray-800">
        {{ i18n "someMadesomeRequested" }}
      </p>
    </div>
    <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12" width="404" height="784" fill="none" viewBox="0 0 404 784">
      <defs>
        <pattern id="svg-pattern-squares-3" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#svg-pattern-squares-3)" />
    </svg>

    <div id="feature-project" class="relative my-12 sm:my-16 lg:my-24">
      <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
        <div class="lg:col-start-2">
          <h4 class="capitalize text-2xl leading-8 font-extrabold text-gray-900 tracking-tight sm:text-3xl sm:leading-9">
            {{ i18n "project" 2 }}
          </h4>
          <p class="mt-3 text-lg leading-6 text-gray-800">
            {{ i18n "projectBrief" }} 
          </p>
          <ul class="mt-10">
            <li>
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-300 text-black">
                    {{ partial "svg/paperclip.svg" . }}
                  </div>
                </div>
                <div class="ml-4">
                  <h5 class="text-lg leading-6 font-medium text-gray-900">
                    {{ i18n "featShareAssets" }}
                  </h5>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    {{ i18n "featShareAssetsExplained" }}
                  </p>
                </div>
              </div>
            </li>
            <li class="mt-10">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-300 text-black">
                    {{ partial "svg/duplicate.svg" . }}
                  </div>
                </div>
                <div class="ml-4">
                  <h5 class="text-lg leading-6 font-medium text-gray-900">{{ i18n "featBudget" }}</h5>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    {{ i18n "featBudgetExplained" }}
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="mt-10 mx-4 relative lg:mt-0 lg:col-start-1">
          <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
            <defs>
              <pattern id="svg-pattern-squares-43" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="784" height="404" fill="url(#svg-pattern-squares-43)" />
          </svg>
          <img class="relative mx-auto"  src="/images/features/projects.png" alt="" />
        </div>
      </div>
    </div>

    <div id="feature-editor" class="relative my-12 sm:my-16 lg:my-24">
      <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
        <div class="lg:col-start-2">
          <h4 class="text-2xl leading-8 font-extrabold text-gray-900 tracking-tight sm:text-3xl sm:leading-9">
            {{ i18n "collabEditing" }}
          </h4>
          <p class="mt-3 text-lg leading-6 text-gray-800">
            {{ i18n "collabEditingExplained" }}
          </p>
          <ul class="mt-10">
            <li>
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-300 text-black">
                    {{ partial "svg/versions.svg" . }}
                  </div>
                </div>
                <div class="ml-4">
                  <h5 class="text-lg leading-6 font-medium text-gray-900">
                    {{ i18n "oneLastVersion" }}
                  </h5>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    {{ i18n "oneLastVersionExplained" }}
                  </p>
                </div>
              </div>
            </li>
            <li class="mt-10">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-300 text-black">
                    {{ partial "svg/wrench.svg" . }}
                  </div>
                </div>
                <div class="ml-4">
                  <h5 class="text-lg leading-6 font-medium text-gray-900">
                    {{ i18n "templates" }}
                  </h5>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    {{ i18n "templatesExplained" }}
                    
                  </p>
                </div>
              </div>
            </li>

            <li class="mt-10">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-300 text-black">
                    {{ partial "svg/users.svg" . }}
                  </div>
                </div>
                <div class="ml-4">
                  <h5 class="text-lg leading-6 font-medium text-gray-900">
                    {{ i18n "noConflict" }}
                  </h5>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    {{ i18n "noConflictExplained" }}
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="mt-10 mx-4 lg:mr-6 relative lg:mt-0 lg:col-start-1">
          <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
            <defs>
              <pattern id="svg-pattern-squares-41" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="784" height="404" fill="url(#svg-pattern-squares-41)" />
          </svg>
          <img class="relative mx-auto"  src="/images/features/versions.png" alt="" />
        </div>
      </div>
    </div>

    <div id="feature-tasks" class="relative my-12 sm:my-16 lg:my-24">
      <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
        <div class="lg:col-start-2">
          <h4 class="capitalize text-2xl leading-8 font-extrabold text-gray-900 tracking-tight sm:text-3xl sm:leading-9">
            {{ i18n "tasks" 2 }}
          </h4>
          <p class="mt-3 text-lg leading-6 text-gray-800">
            {{ i18n "tasksExplained" }}
          </p>
          <ul class="mt-10">
            <li>
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-300 text-black">
                    {{ partial "svg/notification.svg" . }}
                  </div>
                </div>
                <div class="ml-4">
                  <h5 class="text-lg leading-6 font-medium text-gray-900">
                    {{ i18n "noMissingDueDate" }}
                  </h5>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    {{ i18n "noMissingDueDateExplained" }}
                  </p>
                </div>
              </div>
            </li>
            <li class="mt-10">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-300 text-black">
                    {{ partial "svg/calendar.svg" . }}
                  </div>
                </div>
                <div class="ml-4">
                  <h5 class="text-lg leading-6 font-medium text-gray-900">
                    {{ i18n "tasksCalendar" }}
                  </h5>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    {{ i18n "tasksCalendarExplained" }}
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1">
          <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
            <defs>
              <pattern id="svg-pattern-squares-42" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="784" height="404" fill="url(#svg-pattern-squares-42)" />
          </svg>
          <img class="relative mx-auto"  src="/images/features/tasks.png" alt="" />
        </div>
      </div>
    </div>

  </div>
</div>
  {{ partial "clients.html" . }}
  {{ partial "prices.html" . }}

  {{ partial "section-contactus.html" . }}
    {{ partial "whatsapp.html" . }}
{{ end }}
