$breakpoints: (
  "xs-phone": 320px,
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1088px,
  "widescreen": 1200px
);

// keywords
$media-expressions: (
  "screen": "screen",
  "print": "print",
  "handheld": "handheld",
  "landscape": "(orientation: landscape)",
  "portrait": "(orientation: portrait)",
  "retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
  "retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)"
);

// ligatured operators ≥ ≤

@import "vendors/include-media";
@import "vendors/normalize";

@import "base/functions";
@import "base/variables";
@import "base/mixins";
@import "base/helpers";
@import "base/reset";
@import "base/typography";
@import "base/forms";

@import "layout/common";
@import "footer";

@import "~bulma/bulma.sass";

@import '../vendors/tocbot/src/scss/tocbot-core';
@import '../vendors/tocbot/src/scss/tocbot-default-theme';

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  display: block;
  content: " ";
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
}

.container{
  max-width: 900px;
}


.img-holder {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  //min-height: 153px;
  border-radius: 4px;
  margin-bottom: 15px;

  @include media(">=tablet") {
    margin-bottom: 26px;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.capitalize {
  text-transform: capitalize;
}

.logo{
  background-color: $bg-blue;
  letter-spacing: 2px;
  font-size: 1.1em;
  font-weight: 700;
  color: #424242;
  padding: 3px 10px;
  border-right: 4px solid $light-blue;
}


.back{
  text-decoration: none;
}
.details-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  @include media("<tablet") {
    position: relative !important;
    flex-direction: column;
  }
}
.js-mobilemenu{
  display:none;
  padding: 0 2em;
  justify-content: flex-end;
  align-items: flex-end;
  @include media("<tablet") {
    display: flex;
    &.affix{
      width: 100%;
      margin-top: 10px;
    }
  }
}

.menu {
  box-sizing: border-box;
  //border-right: 1px solid #eaecef;
  flex-grow: 1;
  flex-basis:200px;
  width: 200px;
  margin-right: 1em;
  @include media("<tablet") {
    display: none;
    padding: 2em;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 100000000000;
    opacity: .98;
    background-color: #fff !important;
    width: 100%;
    height: 100%;
    &.isOpened{
      display: block;
    }
  }
  
}
.menu-list {
  display: flex;
  flex-direction: column;
  @include media("<tablet") {
    margin-top: 2em;
  }

  .menu-item{
    padding: 0.3em;
    margin-bottom: 0.3em;
    font-size: 0.9em;
    text-decoration: none;
    color: #546e7a;

    @include media("<tablet") {
      padding: 0.5em 1em;
    }
    &:hover {
      background: #6d93b1;
      border-radius: 5px;
      color: #fafafa !important;
    }
    &.is-active {
      background: #2196f3;
      border-radius: 5px;
      color: #fafafa !important;
    }
    &.H2{
      margin-left: 1.2em;
      font-size: 0.8em;
      color: #5c6165bd;
    }
    &.H3 {
      margin-left: 1.2em;
    }

  }
}




.content-block {
  flex-grow: 4;
  max-width: 600px;
  @include media("<tablet") {
    padding: 2em;
  }
  >:first-child{
     margin-top:0; 
  }
  
}

.header-anchor{
  text-decoration: none;
}


a {
  text-decoration: none;
}

.navbar {
  border-bottom: 1px solid $gray-light;
}
.navbar-menu.is-active {
  .navbar-start,
  .navbar-item,
  .navbar-end,
  .buttons,
  .navbar-dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons {
    padding: 0 1em;
  }
  .navbar-item {
    padding: 1em 0;
  }
}

.container {
  padding: 0;
}

.navbar-link{
  @include media("<=desktop") {
      display: none;
  }
}

.navbar-menu-toggle{
  align-items: center;
  color: #4a4a4a;
  cursor: pointer;
  display: flex;
  height: 52px;
  justify-content: flex-end;
  padding-right: 1em;
  text-decoration: underline;
  width: 100%;
  @include media(">=desktop") {
      display: none;
  }
}

