$breakpoints: (
  "xs-phone": 320px,
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1088px,
  "widescreen": 1200px
);

// keywords
$media-expressions: (
  "screen": "screen",
  "print": "print",
  "handheld": "handheld",
  "landscape": "(orientation: landscape)",
  "portrait": "(orientation: portrait)",
  "retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
  "retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)"
);

// ligatured operators ≥ ≤

@import "vendors/include-media";
@import "vendors/normalize";

@import "base/functions";
@import "base/variables";
@import "base/mixins";
@import "base/helpers";
@import "base/reset";
@import "base/typography";
@import "base/forms";

@import "layout/common";
@import "footer";

@import "~bulma/bulma.sass";

@import '~tocbot/src/scss/tocbot-core';
@import '~tocbot/src/scss/tocbot-default-theme';

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  display: block;
  content: " ";
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
}



.logo{
  background-color: $bg-blue;
  letter-spacing: 2px;
  font-size: 1.1em;
  font-weight: 700;
  color: #424242;
  padding: 3px 10px;
  border-right: 4px solid $light-blue;
}


.back{
  text-decoration: none;
}
.details-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  @include media("<tablet") {
    position: relative !important;
    flex-direction: column;
  }
}
.js-mobilemenu{
  display:none;
  padding: 0 2em;
  justify-content: flex-end;
  align-items: flex-end;
  @include media("<tablet") {
    display: flex;
    &.affix{
      width: 100%;
      margin-top: 10px;
    }
  }
}

.menu {
  box-sizing: border-box;
  //border-right: 1px solid #eaecef;
  flex-grow: 1;
  flex-basis:200px;
  width: 200px;
  margin-right: 1em;
  @include media("<tablet") {
    display: none;
    padding: 2em;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 100000000000;
    opacity: .98;
    background-color: #fff !important;
    width: 100%;
    height: 100%;
    &.isOpened{
      display: block;
    }
  }
  
}
.menu-list {
  display: flex;
  flex-direction: column;
  @include media("<tablet") {
    margin-top: 2em;
  }

  .menu-item{
    padding: 0.3em;
    margin-bottom: 0.3em;
    font-size: 0.9em;
    text-decoration: none;
    color: #546e7a;

    @include media("<tablet") {
      padding: 0.5em 1em;
    }
    &:hover {
      background: #6d93b1;
      border-radius: 5px;
      color: #fafafa !important;
    }
    &.is-active {
      background: #2196f3;
      border-radius: 5px;
      color: #fafafa !important;
    }
    &.H2{
      margin-left: 1.2em;
      font-size: 0.8em;
      color: #5c6165bd;
    }
    &.H3 {
      margin-left: 1.2em;
    }

  }
}




.content-block {
  flex-grow: 4;
  max-width: 600px;
  @include media("<tablet") {
    padding: 2em;
  }
  >:first-child{
     margin-top:0; 
  }
  
}

.header-anchor{
  text-decoration: none;
}


a {
  text-decoration: none;
}

.navbar {
  border-bottom: 1px solid $gray-light;
}
.navbar-menu.is-active {
  .navbar-start,
  .navbar-item,
  .navbar-end,
  .buttons,
  .navbar-dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons {
    padding: 0 1em;
  }
  .navbar-item {
    padding: 1em 0;
  }
}

.container {
  padding: 0;
}

.navbar-link{
  @include media("<=desktop") {
      display: none;
  }
}

.navbar-menu-toggle{
  align-items: center;
  color: #4a4a4a;
  cursor: pointer;
  display: flex;
  height: 52px;
  justify-content: flex-end;
  padding-right: 1em;
  text-decoration: underline;
  width: 100%;
  @include media(">=desktop") {
      display: none;
  }
}

// refacto

a {
  outline: none;
}

.check-list {
  color: #4f5a62;
  font-family: $roboto-font;
  text-align: left;

  li {
    position: relative;
    padding-left: 60px;
    padding-bottom: 26px;

    .icongreen {
      @include size(36px);
      text-align: center;
      background-color: #fff;
      svg{
        path {
          fill:#4caf50;
        }
      }
      border-radius: 50%;
      display: block;
      position: absolute;
      top: -2px;
      left: 13px;
    }
  }
}

.tag-block {
  color: #2f2f2f;

  @include media("<desktop") {
    display: none;
  }

  li {
    @include media(">=desktop") {
      background-color: $white;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
      border-radius: 8px;
      padding: 6px 5px;
      width: 95px;
      position: absolute;
    }

    &:nth-child(1) {
      @include media(">=desktop") {
        top: -104px;
        left: -7px;
        transform: rotate(5deg);
      }

      @include media(">=widescreen") {
        top: 6px;
        left: -97px;
      }
    }

    &:nth-child(2) {
      @include media(">=desktop") {
        top: 45px;
        left: -37px;
        transform: rotate(-7deg);
      }

      @include media(">=widescreen") {
        top: 175px;
        left: -97px;
      }
    }

    &:nth-child(3) {
      @include media(">=desktop") {
        top: -104px;
        right: -8px;
        transform: rotate(6deg);
      }

      @include media(">=widescreen") {
        top: 10px;
        right: -87px;
      }
    }

    &:nth-child(4) {
      @include media(">=desktop") {
        top: 45px;
        right: -37px;
        transform: rotate(9deg);
      }

      @include media(">=widescreen") {
        top: 190px;
        right: -119px;
      }
    }
  }
}

// Pour les images des logos
img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}

.readmore {
  background-color: ghostwhite;
}
.contact-us{
    background: url(/images/pattern-2.png)  no-repeat;
    background-position: bottom;
    background-size: cover;
}
.prices-section {
    background-color: #0899FF;
}
.intro-section {
  background: url(/images/pattern-1.png) no-repeat;
  text-align: center;
  position: relative;

  padding: 10px 0 10px;


  .container {
    position: relative;
    z-index: 2;
    margin-bottom: 2em;
  }

  
  .mainTitle {
    padding: 2em 0;

    @include media("<=tablet") {
      padding: 1em 0;
    }

    strong {
      position: relative;
      display: inline-block;

      &:after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        right: 0;
        height: 17px;
        background-color: #ffbf08;
        display: block;
        transform: rotate(-1deg);
        z-index: -1;
      }
    }
  }

}
