{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $image := $src.Resize "1200x q100" }}
{{ $medium := $image.Resize "800x q100" }}
{{ $small := $image.Resize "400x q100" }}
<figure>
    <img
        style="width: auto; height: auto;"
        src="{{ $image.RelPermalink }}"
        srcset="
            {{ $image.RelPermalink }} 1200w,
            {{ $medium.RelPermalink }}  800w,
            {{ $small.RelPermalink }}  400w
        "
        sizes="1200px"
        class="shadow-xl rounded-lg border border-gray-200 mx-auto"
    />
    <figcaption>
        <span class="text-purple-900 italic">
            {{ with .Inner }}
                {{ . }}
            {{ end }}
        </span>
    </figcaption>
</figure>
