{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get "poster")) }}
{{ $large := $src.Resize "1200x" }}
{{ $medium := $src.Resize "800x" }}
{{ $small := $src.Resize "400x" }}
<figure style="min-height: 700px;" class="bg-brand-50 rounded-lg py-6 border border-gray-100 px-4">
    <video
        id="vedio"
        class="rounded-lg opacity-1"
        controls
        preload="none"
        poster="{{ .Get "poster" }}"
    >
        <source src="{{ .Get "src" }}" type="video/mp4" />
        <!-- some other alternative sources -->
        <!-- <source src="foobar.ogv" type="video/ogv" /> -->
        Sorry, your browser doesn't support embedded videos.
        <track default src="project.vtt" />
    </video>
    {{ with .Inner }}
        <figcaption>
            <div style="max-width: 1200px;" class="text-brand-500 font-medium mx-auto -mb-3">
                {{ . }}
            </div>
        </figcaption>
    {{ end }}
</figure>
